*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lista{
    color: white;
}
.boton-buscar{
    background-color: white;
    color: black;
}
.navbar{
    height: 80px;
}
.navbar-brand {
    font-size: 30px;
}
.letra{
    font-size: 20px;
}
/* ---- grid ---- */
.mas-vendidos{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 350px 350px;
    justify-content: center;
    align-items: center;
    background: url("https://st2.depositphotos.com/1028911/9637/i/950/depositphotos_96370274-stock-photo-supermarket-interior-with-shelves-full.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.mas-vendidos div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3232b1ee;;
    color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(61, 60, 60);
}
.mas-vendidos div img{
    width: 200px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.mas-vendidos img:hover{
    box-shadow: grey 5px 5px 5px 5px;
}
/* ----footer---- */
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding-top: 10px;
}
/* ----Perfil---- */
.formulario-padre{
    display: flex;
    justify-content: center;
    color: white;
    background: url("https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F551945fe-7db9-46f1-9bdc-dbc031776849_785x502.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    border-radius: 10px;
    background-color: rgb(71, 71, 175);
}

.formulario a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.formulario a:hover{
    color: orange;
}
.boton-registro{
    width: 120px;
    height: 2rem;
    margin: 10px 0 10px 0;
}
.registro-titulo{
    text-align: center;
}
/* ----media queries---- */
@media(max-width: 900px){
    .mas-vendidos{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: 350px 350px 350px;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 900px){
    .pie{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}